.events-control{
    text-align: center;
    border: 3px solid rgb(10, 206, 141);
    padding: rem;
    margin: 2rem auto;
    width: 22rem;
    max-width: 80%;
    border-radius: 10px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#create-question{
    margin-bottom: 0.5rem;
}